{%extends "layout.html"%}
{%block body%}

<div align=center>
    <br><br>
    <div align=center class="contenedor_login">
    {%if mensaje%}
        <div class="alert alert-info" role="alert"><div>{{mensaje}}</div></div>
        <br>
    {%endif%}
    <br><h2>INGRESE SUS DATOS</h2>
    <form action="{%url 'login'%}" method=POST>
        {%csrf_token%}
        <br>
        <input type="text" autofocus name="nombreusuario" autocomplete="off"  placeholder="Nombre de usuario">
        <br>
        <br>
        <input type="password"  name="password" autocomplete="off"  placeholder="Password">
        <br>
        <br>
        <input type="submit"  value="Acceder">
        <br>
        <br>
    </form>
    </div>
</div>
<br>
<br>
<br>
<br>
{%endblock%}